@import './_variables';

@media only screen and (min-width: 1025px) {

    * {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    
    body.active {
        overflow: hidden;
        max-height: 100vh;
    }
    
    header {
        padding: 2em 5em 2em 5em;
    
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px $grayishBlue;
            padding: 0 0 2em 0;
    
            .left {
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
    
                .hamburgerMenu {
                    visibility: hidden;
                    cursor: pointer;
                }
    
                .logo {
                    padding: 0;
                    margin: 0;
                }
            }
    
            .links {
                position:initial;
                background-color: transparent;
                height: auto;
                padding: 0;
                margin: 0;
                z-index: 2;
                transform: translateX(0px);
                transition: 0.5s all;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .exit {
                    visibility: hidden;
                    padding: 0;
                    margin: 0;
    
                    img {
                        cursor: pointer;
                    }
                }
    
                ul {
                    list-style: none;
                    display: flex;
                    padding: 0;
                    margin: 0;
                    
                    li {
                        padding: 0 1em;
                        margin: 0;
    
                        a {
                            text-decoration: none;
                            color: $darkGrayishBlue;
                            font-family: $fontFamily;
                            font-weight: 400;
                            padding: 0;
                            margin: 0;
                            padding: 0 0 2.75em 0;
                            transition: 0.25s all;
                            border-bottom: $orange 5px;
                        }

                        a:hover {
                            border-bottom: $orange 5px solid;
                            padding: 0 0 2.75em 0;
                            transition: 0.25s all;
                        }
                    }
                }
            }
    
            .links.active {
                transform: translateX(0px);
                transition: 0.5s all;
            }
    
            .right {
                display: flex;
                align-items: center;
    
                .shoppingCart {
                    padding: 0 1em 0 0;
                    z-index: 3;
                    cursor: pointer;
                }
    
                .shoppingCartValueContainer {
                    visibility: hidden;
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-color: $orange;
                    border-radius: 2em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 3;
                    margin: 0 0 5px 10px;
    
                    .shoppingCartValue {
                        color: $white;
                        font-size: 12px;
                    }
                }
    
                .shoppingCartValueContainer.active {
                    visibility: visible;
                    cursor: pointer;
                }
    
                .profile {
                    cursor: pointer;
    
                    img {
                        width: auto;
                        height: 3em;
                        border: 3px solid transparent;
                        border-radius: 10em;
                    }

                    img:hover {
                        border: 3px solid orange;
                        transition: 0.25s all;
                    }
                }
            }
        }
    }
    
    section {
    
        .cartContainer {
            position: absolute;
            z-index: 2;
            width: 35%;
            transform: translateY(-400px);
            opacity: 0;
            transition: 0.5s all;
            right:3em;
            top:5em;
    
            .cartWrapper {
                background-color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 3% 5%;
                border-radius: 1em;
                box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.15);
    
                .cartHeading {
                    border-bottom: 1px solid $grayishBlue;
                    display: flex;
                    align-items: center;
                    padding:1.5em;
    
                    h1 {
                        font-family: $fontFamily;
                        font-weight: 700;
                        font-size: 1em;
                        margin: 0;
                        padding: 0;
                    }
                }
    
                .cartEmpty {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                    h1 {
                        font-family: $fontFamily;
                        font-weight: 700;
                        font-size: 1em;
                        margin: 0 0 -7em 0;
                        padding: 0;
    
                    }
                }
    
                .cartEmpty.active {
                    visibility: hidden;
                }

                .cartDelete {
                    
                    img {
                        cursor: pointer;
                    }
                }
    
                .cartItem {
                    visibility: hidden;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    padding: 1.5em;
                    
                    .cartImage {
    
                        img {
                            height: auto;
                            width: 4em;
                        }
                    }
    
                    .cartDetails {
    
                        h1 {
                            font-family: $fontFamily;
                            font-weight: 400;
                            font-size: 1em;
                            margin: 0;
                            padding: 0 0 0.25em 0;
                            color: $grayishBlue;
                        }
    
                        h2 {
                            font-family: $fontFamily;
                            font-weight: 400;
                            font-size: 1em;
                            margin: 0;
                            padding: 0;
                            color: $grayishBlue;
                        }
    
                        span.cartCost {
                            color: $black;
                            font-weight: 700;
                        }
                    }
                }
    
                .cartItem.active {
                    visibility: visible;
                }
            }
    
            .cartButtonContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0 2em 0;
                visibility: hidden;
    
                button.cartButton {
                    width: 85%;
                    background-color: $orange;
                    color: $white;
                    border: none;
                    padding: 1em;
                    border-radius: 1em;
                }
            }
    
            .cartButtonContainer.active {
                visibility: visible;
            }
        }
    
        .cartContainer.active {
            position: absolute;
            z-index: 2;
            width: 35%;
            transform: translateY(0px);
            opacity: 1;
            transition: 0.5s all;
        }

        .sectionContent {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .desktopImagePreviews {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                visibility: visible;
                padding: 2em 0em 2em 5em;

                .main {


                    img {
                        width: auto;
                        height: 25em;
                        border-radius: 5%;
                        cursor: pointer;
                    }
                }

                .previewsContainer {
                    width: 100%;

                    .previews {
                        margin: 1em 0 0 0;
                        display: flex;
                        align-items: center;
                        justify-content:space-between;
                        
                        img.image01.active {
                            border: solid 3px $orange;
                            background-color: $orange;
                            filter: opacity(0.5);
                        }
                        img.image02.active {
                            border: solid 3px $orange;
                            background-color: $orange;
                            filter: opacity(0.5);
                        }
                        img.image03.active {
                            border: solid 3px $orange;
                            background-color: $orange;
                            filter: opacity(0.5);
                        }
                        img.image04.active {
                            border: solid 3px $orange;
                            background-color: $orange;
                            filter: opacity(0.5);
                        }
    
                        img {
                            border: solid 3px transparent;
                            width: auto;
                            height: 5em;
                            border-radius: 1em;
                            cursor: pointer;
                        }
                    }
                }
            }

            .imageContainer {
                position: absolute;
                width: 50vw;
                height: auto;
                padding: 0 2% 0 10%;
                border-radius: 2em;
                transform: scale(0.8);
                visibility: hidden;

                #carouselExampleControls {
                    border-radius: 2em;

                    .carousel-inner {
                        border-radius: 2em;

                        .carousel-item {
                            border-radius: 2em;

                            img {
                                border-radius: 2em;
                            }
                        }

                        .carousel-item.active {
                            border-radius: 0;

                            img {
                                border-radius: 2em;
                            }
                        }
                    }
                }
            }
            
            .previewsContainerLarge {
                width: 100%;
                visibility: hidden;
                display: none;

                .previewsLarge {
                    margin: 1em 0 0 0;
                    display: flex;
                    align-items: center;
                    justify-content:space-between;

                    img {
                        border: solid 3px transparent;
                        width: auto;
                        height: 6em;
                        border-radius: 1em;
                        cursor: pointer;
                    }

                    img.imageOne.active {
                        border: solid 3px $orange;
                        background-color: $orange;
                        filter: opacity(0.75);
                    }
                    img.imageTwo.active {
                        border: solid 3px $orange;
                        background-color: $orange;
                        filter: opacity(0.75);
                    }
                    img.imageThree.active {
                        border: solid 3px $orange;
                        background-color: $orange;
                        filter: opacity(0.75);
                    }
                    img.imageFour.active {
                        border: solid 3px $orange;
                        background-color: $orange;
                        filter: opacity(0.75);
                    }
                }
            }

            .previewsContainerLarge.active {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                visibility: visible;
                transition: 0.5s all;
                margin: 0 0 7em 0;

                .arrows {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    z-index: 5;
                    width: 440px;

                    .arrowLeft {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color: $lightGrayishBlue;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 30%;
                        border-radius: 2em;
                        transform: translateY(225px);
                        cursor: pointer;
                    }
                    
                    .arrowLeft.remove {
                        visibility: hidden;
                    }
                    
                    .arrowRight {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color: $lightGrayishBlue;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 30%;
                        border-radius: 2em;
                        transform: translateY(225px);
                        cursor: pointer;
                    }

                    .arrowRight.remove {
                        visibility: hidden;
                    }
                }

                .desktopImageLarge {
                    z-index: 3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    height: 25em;
                    z-index: 4;
                    
                }

                .previewsLarge {
                    z-index: 3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    height: 20em;
                    z-index: 4;
                    height: auto;
                }
            }
        }
                
            .descriptionContainer {
                padding: 0 5% 0 5%;
                width: 50vw;
                
                .description {
                    
                    h1 {
                        text-transform: uppercase;
                        color: $orange;
                        font-size: 1em;
                        font-family: $fontFamily;
                        font-weight: 700;
                    }
        
                    h2 {
                        font-size: 2em;
                        font-family: $fontFamily;
                        font-weight: 700;
                        color: $black;
                    }
        
                    p {
                        font-family: $fontFamily;
                        color: $darkGrayishBlue;
                    }
                }
            }
        
            .priceContainer {
                margin: 1em 0 0 0;
        
                .cost {
                    display: flex;
                    justify-content: space-between;
        
                    .discount {
                        display: flex;
                        align-items: center;
        
                        h1 {
                            font-family: $fontFamily;
                            font-weight: 700;
                        }
        
                        h2 {
                            background-color: $paleOrange;
                            padding:0.25em;
                            font-size: 1.25em;
                            margin: 0 0 0.25em 0.5em;
                            color:$orange;
                            border-radius: 0.25em;
                            font-family: $fontFamily;
                            font-weight: 700;
                        }
                    }
        
                    .remaining {
                        display: flex;
                        align-items: center;
        
                        h1 {
                            font-size: 1.25em;
                            color: $grayishBlue;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        
            .buttonContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1em 0 0 0;
                padding: 0.5em;
                background-color: $lightGrayishBlue;
                border-radius:0.5em;
        
                .minus {
                    position:relative;
                    background-color: transparent;
                    border: none;
                }
        
                span {
                    font-family: $fontFamily;
                    font-weight: 700;
                    font-size: 1.25em;
                }
        
                .plus {
                    position: relative;
                    background-color: transparent;
                    border: none;
                }
            }
        
            .addToCartContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1em 0 3em 0;
        
                .addToCart {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100vw;
                    padding: 1em;
                    background-color: $orange;
                    border:none;
                    border-radius: 0.25em;
                    box-shadow: 0px 10px 30px 2px rgba(255,176,176,0.5);
                    
                    img {
                        padding: 0 1em 0 0;
                        filter: brightness(2000%);
                    }
        
                    p {
                        margin: 0.1em 0 0 0;
                        color:$white;
                        font-family: $fontFamily;
                        font-size: 1em;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    
    .backdrop {
        visibility: hidden;
        position: absolute;
        content: '';
        width:100%;
        height: 100%;
        overflow: hidden;
        background-color: transparent;
        opacity: 0;
        top:0;
        z-index: 2;
        transition: 0.5s all;
    }
    
    .backdrop.active {
        visibility: visible;
        position: absolute;
        content: '';
        width:100vw;
        max-height: 100vh;
        background-color: $black;
        opacity: 0.8;
        top:0;
        z-index: 3;
        transition: 0.5s all;
        max-width: 100vw;
        max-height: 100vh;
    }
    
    .backdrop.shoppingCart {
        visibility: visible;
        position: absolute;
        content: '';
        width:100%;
        height: 100%;
        background-color: transparent;
        opacity: 0.5;
        top:0;
        z-index: 1;
        transition: 0.5s all;
}
